* {
  box-sizing: border-box;
}

$ease: .3s ease-in-out;
$dark: #54566e;

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1vw;
  font-family: 'Quicksand', sans-serif;
  color: $dark;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;

  & > a {
    color: #4d8fac;
  }
}

a {
  color: $dark;
  text-decoration: none;
  transition: $ease;
}

.btn {
  border: 1px solid $dark;
  padding: 1rem 1.5rem;

  &:hover {
    background: $dark;
    color: #fff;
  }
}

// Globals
.section-padding {
  padding: 6rem 8rem;

  h2 {
    margin-bottom: 4rem;
  }
}

.white {
  color: #fff;
}

.center-text {
  text-align: center;
}

.col-1 {
  flex: 1;
  background: #eee;
}

.col-2 {
  flex: 2;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-top {
  margin-top: 6rem;
}

.margin {
  margin: 3rem 0;
}

.social-toolbar {
  position: fixed;
  top: 40vh;
  right: -5rem;
  z-index: 1001;
  transition: $ease;

  a {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem .5rem .5rem;

    &:hover {
      opacity: .8;
    }
  }

  .facebook {
    background: #3b5998;
  }

  .insta {
    color: #000;
    background: #fff;

    &:hover {
      background: rgba(0,0,0,.25);
    }
  }

  .youtube {
    background: #cc181e;
  }

  .etsy {
    background: #eb6d20;
  }
}

.table-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.side-padding {
  padding: 0 2rem;
}

.container,
.large-container {
  width: 70%;
  margin: 6rem auto;

  li {
    line-height: 2rem;
  }

  & > h1 {
    margin-bottom: 3rem;
  }
}

.large-container {
  width: 85%;
}

.callout {
  background: #eee;
  width: 24rem;
  position: relative;
  margin-bottom: 4rem;
  transition: $ease;
  cursor: pointer;

  .content {
    padding: 2rem .5rem;
  }

  .tags {
    position: absolute;
    top: 17rem;
    right: 1rem;
  }

  .tag {
    color: #fff;
    background: #576167;
    margin: .25rem;
    padding: .5rem;
  }

  img {
    max-width: 24rem;
    height: 20rem;
  }

  &:hover {
    transform: scale(0.98);
  }
}

.column-callout {
  height: 24rem;
  background: #eee;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;

  .btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem 5rem;
  }

  .content {
    position: absolute;
    left: 28rem;
    top: 2rem;
    right: 2rem;
  }

  img {
    object-fit: cover;
    position: absolute;
    top: 1rem;
    left: 2rem;
    height: 92%;
    width: 24rem;
  }
}

// Sections
#landing-banner,
#internal-banner {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 1rem;

  .side-img {
    height: 96vh;
    width: 40vw;
  }

  .landing-callout {
    position: absolute;
    left: 50vw;
    top: 40vh;
  }

  .nav {
    padding-left: .5rem;
    list-style: none;

    li {
      margin: .5rem 0;
    }

    a {
      padding: .5rem 1rem;

      &:hover {
        border-left: .25rem solid #54636e;
        padding-left: 1rem;
      }
    }
  }
}

#internal-banner {
  height: 60vh;
  padding: 1rem;
  overflow: hidden;

  .side-img {
    height: 96vh;
    width: 40vw;
  }

  .landing-callout {
    position: absolute;
    left: 50vw;
    top: 22vh;
  }

  img {
    object-fit: cover;
  }
}

#project-container {
  background: url('../img/denim.png');

  .btn {
    color: #ccc;
    border-color: #ccc;
    padding: 1rem 5rem;
  }
}

#blog-container {
  background: url('../img/crossword.png');

  .btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 5rem;
  }
}

#store-container {
  height: 60vh;
  background: url('../img/denim.png');
}

#footer {
  text-align: center;
  padding: 4rem 8rem;

  .email {
    border: none;
    border-bottom: 1px solid $dark;
    width: 32rem;
    vertical-align: bottom;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  .btn {
    background: #fff;
    margin-left: 1rem;
    cursor: pointer;
    transition: $ease;

    &:hover {
      background: $dark;
      color: #fff;
    }
  }

  form {
    margin: 2rem 0 1rem;
  }
}

#message {
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

#popup-container {
  position: fixed;
  bottom: -10rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1002;
  background: #fff;
  border-top: 1px solid rgba(0,0,0,.1);
  transition: $ease;

  .fa-close {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;

  }
}

.blog {
  position: relative;
  height: 24rem;
  transition: $ease;

  h5 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: inline-block;
    background: $dark;
    color: #fff;
    padding: .5rem;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: .9;
    transform: scale(0.98);
  }
}
